<div class="container">
    <div style="max-width: 800px; max-height: 600px;">
        <div class="content-quiz">
            <div class="chars">
                <img src="{{dirname}}/assets/M1-1.png">
            </div>
            <div class="questionElements">
                <div class="questionBallon" data-step="1" data-intro="Neste modo temos um jogo de perguntas e respostas onde o personagem trás uma questão" data-position="left">
                    <img class="balaoFala" src="{{dirname}}/assets/balaoFala.png">
                    <span class="question">{{questionComp.question}}</span>
                </div>
                <div class="questionImage" data-step="2" data-intro="Logo abaixo temos uma imagem referente a pergunta feita pelo personagem" data-position="top">
                    <img id="questionImage" src='{{dirname}}{{questionComp.image}}'>
                </div>
                <div class="answersElement" data-step="3" data-intro="Aqui nós temos os botões com as respostas onde uma delas está correta, logo após você responder o personagem mostrar qual é a resposta correta" data-position="top">
                    <div style="margin-left: 10px; margin-right: 10px; " *ngFor="let answer of questionComp.answers">
                        <button [disabled]="disabledBtn" (click)="verifyAnswer(answer)" mat-raised-button *ngIf="!clicked" class="btnDefault" #btn>{{answer}}</button>
                        <button [disabled]="disabledBtn" (click)="verifyAnswer(answer)" mat-raised-button *ngIf="clicked" [ngClass]="{'btnCorrect': answer == questionComp.correctAnswer, 'btnIncorrect': answer != questionComp.correctAnswer}" #btn>{{answer}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span style="margin-right: 10px;" class="material-icons" id="help" (click)="clickHelp()">help_outline</span>
                <span>Tempo:{{hourOut}}:{{minOut}}:{{secOut}}:{{miliSecOut}}</span>
            <span style="margin-left: 10px;" class="material-icons" id="home" routerLink="/">house</span>
        </div>
    </div>
</div>