<div class="container">
    <div style="max-width: 800px; max-height: 600px;">
        <div class="content-quiz">
            <div class="chars">
                <img src="../../../assets/M1-1.png">
            </div>
            <div class="questionElements">
                <div class="questionBallon">
                    <img class="balaoFala" src="../../../assets/balaoFala.png">
                    <span class="question">{{questionComp.question}}</span>
                </div>
                <div class="questionImage">
                    <img id="questionImage" src='{{questionComp.image}}'>
                </div>
                <div class="answersElement">
                    <div style="margin-left: 10px; margin-right: 10px; " *ngFor="let answer of questionComp.answers">
                        <button (click)="verifyAnswer(answer)" mat-raised-button *ngIf="!clicked" class="btnDefault" #btn>{{answer}}</button>
                        <button (click)="verifyAnswer(answer)" mat-raised-button *ngIf="clicked" [ngClass]="{'btnCorrect': answer == questionComp.correctAnswer, 'btnIncorrect': answer != questionComp.correctAnswer}" #btn>{{answer}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span style="margin-right: 10px;" class="material-icons" id="help">help_outline</span>
                <span>Tempo:{{hourOut}}:{{minOut}}:{{secOut}}:{{miliSecOut}}</span>
            <span style="margin-left: 10px;" class="material-icons" id="home" routerLink="/">house</span>
        </div>
    </div>
</div>