.container{
    height: 600px;
    width: 800px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#help{
    left: 20px;
    position: absolute;
    top: 50px;
}
#home{
    left: 70px;
    position: absolute;
    top: 50px;
}
.personagem{
    left: 85px;
    position: absolute;
    bottom: 35px;
}
.balaoFala{
    position: absolute;
    height: 280px;
    width: 600px;
    left: 100px;
    top: 30px;
    z-index: -1;
}
#questionImage{
    height: 150px;
    width: 200px;
    position: absolute;
    left: 310px;
    bottom: 190px;
    border: solid;
    border-width: thick;
}
.question{
    height: 200px;
    width: 360px;
    position: absolute;
    top: 80px;
}
.table{
    width: 235px;
    position: absolute;
    bottom: 56px;
}
.btnCorrect{
    background-color: #3adc23
}
.btnIncorrect{
    background-color: #dc2323
}
.btnDefault{
    background-color: #1d6a8e
}