<div class="container">
    <div style="display: flex; flex-direction: row;">
        <span class="material-icons" id="help">help_outline</span>
        <div class="table">
            <mat-grid-list cols="3" rowHeight="3:3" gutterSize="10px">
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
                <mat-grid-tile id="square"><square></square></mat-grid-tile>
              </mat-grid-list>
        </div>
    <span class="material-icons" id="home" routerLink="/">house</span>

    </div>

</div>