<div class="container">
    <div style="display: flex; flex-direction: row;">
        <span class="material-icons" id="help">help_outline</span>
        <div class="table">
            <mat-grid-list cols="3" rowHeight="3:3" gutterSize="10px">
                <mat-grid-tile class="square" (click)="clickRotation('one')">
                    <div id="top">
                        {{top.one.value}}
                    </div>
                    <div id="right">
                        {{right.one.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.one.value}}
                    </div>
                    <div id="left">
                        {{left.one.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('two')">
                    <div id="top">
                        {{top.two.value}}
                    </div>
                    <div id="right">
                        {{right.two.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.two.value}}
                    </div>
                    <div id="left">
                        {{left.two.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('three')">
                    <div id="top">
                        {{top.three.value}}
                    </div>
                    <div id="right">
                        {{right.three.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.three.value}}
                    </div>
                    <div id="left">
                        {{left.three.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('four')">
                    <div id="top">
                        {{top.four.value}}
                    </div>
                    <div id="right">
                        {{right.four.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.four.value}}
                    </div>
                    <div id="left">
                        {{left.four.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('five')">
                    <div id="top">
                        {{top.five.value}}
                    </div>
                    <div id="right">
                        {{right.five.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.five.value}}
                    </div>
                    <div id="left">
                        {{left.five.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('six')">
                    <div id="top">
                        {{top.six.value}}
                    </div>
                    <div id="right">
                        {{right.six.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.six.value}}
                    </div>
                    <div id="left">
                        {{left.six.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('seven')">
                    <div id="top">
                        {{top.seven.value}}
                    </div>
                    <div id="right">
                        {{right.seven.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.seven.value}}
                    </div>
                    <div id="left">
                        {{left.seven.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('eight')">
                    <div id="top">
                        {{top.eight.value}}
                    </div>
                    <div id="right">
                        {{right.eight.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.eight.value}}
                    </div>
                    <div id="left">
                        {{left.eight.value}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="square"(click)="clickRotation('nine')">
                    <div id="top">
                        {{top.nine.value}}
                    </div>
                    <div id="right">
                        {{right.nine.value}}
                    </div>
                    <div id="bottom">
                        {{bottom.nine.value}}
                    </div>
                    <div id="left">
                        {{left.nine.value}}
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    <span class="material-icons" id="home" routerLink="/">house</span>

    </div>

</div>