/* #help{
    width: 100%;
    top: 20px;
    left: 20px;
    position: absolute;
}
#home{
    width: 100%;
    top: 20px;
    left: 740px;
    position: absolute;
} */
.table{
    width: 550px;
    height: 550px;
}
.square{
    border-width: medium;
    border-style: solid;
    border-color: brown;
    background-color: darkgray;
}

#bottom {
    bottom: 25px;
    position: absolute;
}
#left {
    left: 25px;
    position: absolute;
}
#top {
    top: 25px;
    position: absolute;
}
#right {
    right: 25px;
    position: absolute;
}

.imgX{
    width: 176.66px;
    height: 176.66px;

}