/* #help{
    width: 100%;
    top: 20px;
    left: 20px;
    position: absolute;
}
#home{
    width: 100%;
    top: 20px;
    left: 740px;
    position: absolute;
} */
.table{
    width: 550px;
    height: 550px;
    border-style: solid;
    border-width: medium;
    margin-left: 30px;
    margin-right: 30px;
}
#square{
    background-color: darkgray;
}