<p>config works!</p>
<div class="container">
    <span style="font-size: 30px; margin-bottom: 25px;">Página de configuração</span>

    <div class="item">
        <span>Cor de fundo:</span>
        <div class="space"></div>
        <button mat-raised-button color="primary">Branco</button>
        <button mat-raised-button color="primary">Azul</button>
        <button mat-raised-button color="primary">Verde</button>
        <button mat-raised-button color="primary">Vemrelho</button>
        <button mat-raised-button color="primary">Laranja</button>
        <button mat-raised-button color="primary">Amarelo</button>
    </div>

    <div class="item">
        <span>Cor da fonte:</span>
        <div class="space"></div>
        <button mat-raised-button color="primary">Branca</button>
        <button mat-raised-button color="primary">Preta</button>
    </div>

    <div class="item">
        <span>Tamanho de texto de fala:</span>
        <div class="space"></div>
        <button mat-raised-button color="primary">Pequeno</button>
        <button mat-raised-button color="primary">Médio</button>
        <button mat-raised-button color="primary">Grande</button>
    </div>

    <span class="material-icons" routerLink="/">undo</span>
</div>
 