<!-- <embed height="60" type="audio/midi" width="144" src="{{dirname}}/../../assets/sounds/backgroundSound.mp3" volume="60" loop="false" autostart="true" /> -->
<div class="">
    <audio src="{{dirname}}/assets/sounds/backgroundSound.mp3" autoplay id="backgroundSound"></audio>
    <audio src="{{dirname}}/assets/sounds/clickSound.mp3" id="clickSound"></audio>
    <audio src="{{dirname}}/assets/sounds/questionSound.mp3" id="questionSound"></audio>
    <audio src="{{dirname}}/assets/sounds/congratularionsSound.mp3" id="congratularionsSound"></audio>
    <router-outlet></router-outlet>
</div>