<div class="container">
    <div style="display: flex; flex-direction: row;">
        <div class="table">
            <mat-grid-list cols="3" rowHeight="3:3" gutterSize="10px">
                <mat-grid-tile class="square" *ngFor="let square of resp; let i = index" (click)="clickRotation(i)">
                    <img class="imgX" src="../../../assets/x.png"/> 

                    <div *ngIf="square.values[0].direction === 'top'" [ngClass]="{'top': !isHardLevel, 'top-reduce font-reduce': isHardLevel }">
                        <div *ngFor="let valueBreak of breakLine(square.values[0].image)" class="">
                            <span>{{valueBreak}}</span>    
                        </div>
                    </div>
                    <div *ngIf="square.values[1].direction === 'right'" [ngClass]="{'right': !isHardLevel, 'right-reduce font-reduce': isHardLevel }">
                        <div *ngFor="let valueBreak of breakLine(square.values[1].image)" class="">
                            <span>{{valueBreak}}</span>
                        </div>
                    </div>
                    <div *ngIf="square.values[2].direction === 'bottom'" [ngClass]="{'bottom': !isHardLevel, 'bottom-reduce font-reduce': isHardLevel }">
                        <div *ngFor="let valueBreak of breakLine(square.values[2].image)" class="">
                            <span>{{valueBreak}}</span>
                        </div>
                    </div>
                    <div *ngIf="square.values[3].direction === 'left'" [ngClass]="{'left': !isHardLevel, 'left-reduce font-reduce': isHardLevel }">
                        <div *ngFor="let valueBreak of breakLine(square.values[3].image)" class="">
                            <span>{{valueBreak}}</span>
                        </div>
                    </div>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="footer">
        <span style="margin-right: 10px;" class="material-icons" id="help">help_outline</span>
        <span>Tempo: {{hourOut}}:{{minOut}}:{{secOut}}:{{miliSecOut}}</span>
        <span style="margin-left: 10px;" class="material-icons" id="home" routerLink="/">house</span>
    </div>
</div>