<img class="boardImg" src="{{dirname}}/assets/quadroNegro.png">
<div class="container" *ngIf="selectMode">
    <span class="selectText" >Selecione o modo:</span>
    <div style="margin-bottom: 20px;" class="table">
      <mat-grid-list cols="2" rowHeight="1:1" gutterSize="10px">
        <mat-grid-tile *ngFor="let mode of modes; let i = index">
          <div  style="display: flex; flex-direction: column;" class="mode" (click)="chooseGameMode(mode)">
            <img *ngIf="mode.title === 'Expressão aritmética'" class="icon" src="{{dirname}}/assets/iconMath.png">
            <img *ngIf="mode.title === 'Quiz'" class="icon" src="{{dirname}}/assets/iconQuiz.png">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <span class="material-icons" routerLink="/main">undo</span>
    </div>
</div>
<div class="container" *ngIf="!selectMode">
  <span class="selectText" >Selecione a dificuldade:</span>
  <div style="margin-bottom: 20px;" class="tableDificulty">
    <div class="cards">
      <button mat-stroked-button (click)="changeDifficulty('easy')" color="Basic">Fácil</button>
      <button mat-stroked-button (click)="changeDifficulty('medium')" color="Basic">Médio</button>
      <button mat-stroked-button (click)="changeDifficulty('hard')" color="Basic">Difícil</button>
    </div>
    <span class="material-icons" (click)="selectMode = true">undo</span>
  </div>
</div>

