<div class="container">
    <span style="font-size: 42px; margin-bottom: 60px;">Selecione o modo:</span>


      <div style="margin-bottom: 20px;" class="table">
        <mat-grid-list cols="2" rowHeight="2:2">
            <mat-grid-tile>
                <span>botão temporário</span>
                <span class="material-icons" (click)="chooseGameMode('NumbersEXP')" >play_circle_outline</span>
            </mat-grid-tile>
            <mat-grid-tile>
                <span>
                    Expressões Liguísticas
                </span>
            </mat-grid-tile>
            <mat-grid-tile>
                <span>
                    Apenas formas
                </span>
            </mat-grid-tile>
            <mat-grid-tile>
                <span>
                    Jogo misto
                </span>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <span class="material-icons" routerLink="/main">undo</span>


    <!-- <span>botão temporário</span>
    <span class="material-icons" routerLink="/ingame" >play_circle_outline</span>

    <span class="material-icons" routerLink="/main">undo</span> -->
</div>
