<div class="container">
    <span style="font-size: 56px; margin-bottom: 60px;">Nome do Jogo</span>
    <div class="actions">
        <span class="material-icons" routerLink="/config">settings</span>
        <span class="material-icons">power_settings_new</span>
        <span class="material-icons" routerLink="/inGame">play_circle_outline</span>
        <span class="material-icons">info</span>
    </div>
    <div style="margin-top: 50px;">
        <img src="../../../assets/M1-1.png">
        <img src="../../../assets/F1-1.png">
    </div>

</div>